@import url('https://fonts.googleapis.com/css?family=Lato|Boogaloo');

body {
    font-family: "Lato", "Aerial", sans-serif;
    color: #ffffff;
    margin: 100px;
}

h1, h2, h3 {
    font-family: "Boogaloo", "Aerial", sans-serif;
    margin: 5px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

div {
    margin: 10px;
    padding: 5px;
}

#div1 {
    text-align: left;
    background-color: #adff2f;
}

#div2 {
    text-align: center;
    background-color: #ecff33;
    
}

#div3 {
    text-align: left;
    background-color: #3336ff;
}

div:hover {
    font-weight: bold;    
}

div h1:hover, h2:hover, h3:hover {
    font-weight: bold;
    color: black;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #ff0000;
    width: 200px;
    text-align: left;
    color: white;
    border-radius: 8px;
}


#button2, #click {
    margin: 20px;
}

