<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New ejs File</title>
        <meta name="author" content="Ching Lo | CS313:03">
        <meta name="description" content="example new ejs file">
    </head>
    
    <body>
        <main>
            <h1>This is our home page.</h1>
            <h2>Welcome <%= name %>, your email address is: <%= email %></h2>
            
            
            <p>(This is an ejs...)</p>
        </main>
        
    </body>
    
</html>